/* Estilos base */
body {
   
        display: grid
;
    justify-content: center;
    margin: 0 auto;
    background-color: #333;
    font-family: "Alegreya", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    max-width: 794px;
    padding: 0 10px;
}

html {
    scroll-behavior: smooth;
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.menu ul li {
    background: #990505;
    padding: 15px 20px;
    border-radius: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.menu ul li:hover {
    background: #d80606;
}

article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    padding: 40px 80px 40px 40px;
    margin: 10px;
    max-width: 640px;
    background-color: #f2f2ef;
}

/* Imagem com tamanho de folha A4 */
img.a4 {
    width:794px;
    height: 1000px;
    display: block;
    margin: 0 auto;
}

/* Estilo para impressão */
@media print {
    body {
        background: none;
    }

    img.a4 {
        width: 21cm;
        height: 29.7cm;
        page-break-inside: avoid;
    }
}
