* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60vw;          /* Reduzido de 80vw para 60vw */
  height: 75vh;         /* Reduzido de 90vh para 75vh */
  max-width: 600px;     /* Dimensão máxima em desktops */
  max-height: 850px;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
  overflow: hidden;
  border-radius: 8px;
}


.imagem-box {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
